{% macro snippet(content) %}
  <div class="relative mb-4 mt-4 max-w-prose pr-4 pb-4 bg-[#161b22] rounded-md">
    <pre
      class="
      text-white
      pl-8
      pt-9
      pb-0
      pr-0
      w-full
      overflow-scroll
      no-scrollbar">
      {{ content|safe }}
    </pre>
    <span class="
      absolute
      top-1
      text-[#e6edf3]
      underline
      text-sm
      right-2
      cursor-pointer
      rounded-full"
      x-clipboard.raw="{{ content|safe }}">
      copy
    </span>
  </div>
{% endmacro %}

