/* custom base styles */

@font-face {
  font-family: Neon;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MonaspaceNeon-Regular.woff');
}

@font-face {
  font-family: Neon;
  font-style: normal;
  src: url('../fonts/MonaspaceNeon-SemiBold.woff');
}

@font-face {
  font-family: Neon;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/MonaspaceNeon-ExtraLight.woff');
}


@layer base {
 
  html { 
    font-family: Neon, 'Courier New', Courier, monospace;
    font-size: 18px;
  }

  pre {
    font-family: Neon;
    font-weight: 100;
  }

  b {
    @apply 
      bg-[#161b22]
      text-[#e6edf3]
      p-1
      rounded-md;
  }

  h1 { @apply max-w-[37.5ch]; }
  h1, header a { font-weight: 600;  }

  h2 { @apply text-2xl pb-4 pt-4; }
  h3 { @apply mt-4 mb-4; }

  a {
    @apply 
      underline
      select-auto
      cursor-pointer
      text-[#0000EE]
      dark:text-blue-300;
  }

  li, a, p { @apply transition max-w-prose; }
}