/* custom base styles */

@font-face {
  font-family: Neon;
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/MonaspaceNeon-Regular.woff');
}

@font-face {
  font-family: Neon;
  font-style: normal;
  font-style: 600;
  src: url('../fonts/MonaspaceNeon-SemiBold.woff');
}

@layer base {
 
  html { 
    font-family: Neon, 'Courier New', Courier, monospace;
    font-size: 18px;
  }

  h1, header a { font-weight: 600;  }

  a {
    @apply 
      underline
      select-auto
      cursor-pointer
      text-blue-800
      dark:text-blue-300;
  }

  h1, li, a, p { 
    @apply  
      transition
      max-w-[65ch]; }
}