---
layout: base
title: sending e-mails from deployed docker container using a postfix service running on host
tags: post
date: 2023-11-13
link: ..
templateEngineOverride: njk
---
{% import "code.njk" as code %}

{{ code.snippet("
composer require
composer require
composer require
composer require
composer require
composer require") }}