---
title: 👋🏻 34N0's blog
layout: base
eleventyNavigation:
  key: home
  order: 1
pagination:
  data: collections.post
  size: 12
  alias: posts
---

<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="list-inside list-disc">
    <li>info</li>
    <li class="list-none">
      <ul class="list-inside list-disc pl-4">
        <li>{{ site.description }}</li>
        <li><a href="https://github.com/34N0">github profile</a></li>
        <li><a href="mailto:34n0@immerda.ch">34n0@immerda.ch</a></li>
        <ul class="list-inside list-disc pl-8">
          <li><a href="/34n0@immerda.ch.pub" download>6E5C3A7BD8465D1997C40FB0FDFA0107DCD38E02</a></li>
        </ul>
      </ul>
    </li>
    {% if posts|length > 0 %}
      <li>all posts</li>
      <li class="list-none">
        <ul class="list-inside list-disc pl-4">
          {% for post in posts %}
          <li>
            <a href="{{post.url}}" hx-boost="true">{{post.data.title }} ({{ post.data.date | postDate }})</a>
          </li>
          {% endfor %}
        </ul>
      <li class="list-none">
    {% endif %}
  </ul>
</nav>