---
title: 34N0's blog
layout: base
eleventyNavigation:
  key: home
  order: 1
pagination:
  data: collections.post
  size: 12
  alias: posts
---

<nav>
  {% set navPages = collections.all | eleventyNavigation %}
  <ul class="list-inside list-disc">
    <li>info</li>
    <ul class="list-inside list-disc pl-4">
      <li>{{ site.description }}</li>
      <li><a href="https://github.com/34N0">github profile</a></li>
    </ul>
    {% if posts|length > 0 %}
      <li>all posts</li>
      <ul class="list-inside list-disc pl-4">
        {% for post in posts %}
        <li>
          <a href="{{post.url}}" hx-boost="true">{{ post.data.title }}</a>
        </li>
        {% endfor %}
      </ul>
    {% endif %}
  </ul>
</nav>