<!DOCTYPE html>
<html lang="{{ meta.lang or site.lang }}" :class="{ 'dark': $store.darkMode.on }" x-data>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ site.title }} - {{ title or meta.title }}</title>
    {% include "meta.njk" %}
  </head>
  <body class="
    p-0
    bg-white
    dark:bg-black
    text-black
    dark:text-white
    transition">
    {% include "toggle.njk" %}
    <main id="main" class="sm:p-24 pt-24 pl-12 pr-12 h-fit w-full flex flex-col">
      {% include "header.njk" %}
      <h1 class="text-3xl pb-4">{{ title }}</h1>
      {{ content | safe }}
    </main>
  </body>
  <script type="module" src="{{ '/assets/js/index.js' | url }}"></script>
</html>